.wrapper {
    height: 94vh;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.slideTrack {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    flex-shrink: 0;
    transition: all 0.5s;
}

.slideWrapper {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.slide {
    height: 95%;
    margin: 0 1%;
    background: #fff;
    overflow: hidden;
    flex-basis: 100%;
    box-shadow: 3px 3px 15px 0px #95ab63;
}